 .bash_history
        .c3uf2/
        .cduf2/
        .gitconfig
        .lesshst
        .redhat/
        .vscode/
        AppData/
        Contacts/
        Downloads/
        Dropbox/
        Favorites/
        IntelGraphicsProfiles/
        Links/
        Music/
        NTUSER.DAT
        NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TM.blf
        NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000001.regtrans-ms
        NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000002.regtrans-ms
        OneDrive/
        Pictures/
        Saved Games/
        Searches/
        Videos/
        ntuser.dat.LOG1
        ntuser.dat.LOG2
        ntuser.ini
        ruby
